.post
  .title
    a(href="/blog/" + post._id)!= post.title
  .created_at= post.created_at
  p
    .postContent= post.body
    for comment in post.comments
      .postComment
        .commentAuthor= comment.author
        .commentContent= comment.comment
